<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686121392932-4l5gc2qer6ups31v5tgujmd7cn4atmef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686121392932-4l5gc2qer6ups31v5tgujmd7cn4atmef</string>
	<key>API_KEY</key>
	<string>AIzaSyDy2wwfSTzd-sAo1Z0UUqsAuhZzOMRoAcA</string>
	<key>GCM_SENDER_ID</key>
	<string>686121392932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bowie.MyWeather</string>
	<key>PROJECT_ID</key>
	<string>my-weather-28901</string>
	<key>STORAGE_BUCKET</key>
	<string>my-weather-28901.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686121392932:ios:41e2a6b0ce53c1d55f31b1</string>
</dict>
</plist>